body,
div,
ul {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 50%;
}

.header-img {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url("img/home-bg.jpg");
  position: relative;
  background-size: cover;
}

.overlay {
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(70, 53, 42);
}

.header-text {
  color: white;
  font-weight: 900;
  z-index: 10;
  text-transform: uppercase;
  margin: 200px 50px;
}

.header-text h1 {
  margin-bottom: 20px;
}

.welcome-button {
  margin-top: 20px;
  padding: 10px 40px;
  color: white;
  font-size: 20px;
}

.header-menu {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: rgb(70, 53, 42);
  width: 100%;
}

.header-menu-ul {
  display: flex;
  margin: 0 auto;
}

.facebook {
  right: 10px;
  position: absolute;
  display: flex;
  align-items: center;
}

.header-menu-ul li {
  list-style-type: none;
  padding: 12px;
}

.header-menu-ul li a {
  padding: 15px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
}

.header-menu-ul li :hover {
  background: orange;
  color: rgb(70, 53, 42);
}

.main-container-title {
  color: white;
  background: rgb(70, 53, 42);
  box-shadow: 1px 5px 10px white inset;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.html-container-cards {
  display: flex;
  justify-content: space-around;
  color: rgb(70, 53, 42);
}

.html-container-cards .card {
  width: 18rem;
}

.html-container-cards .card a {
  background: orange;
  border-color: orange;
  color: rgb(70, 53, 42);
  font-weight: 800;
}

.html-container-cards .card:hover {
  box-shadow: 5px 10px 20px orange;
}

.html-container-cards .card-title {
  text-align: center;
  font-weight: 800;
}

.menu-items-body {
  margin: 20px 0;
}
.main-container-text {
  margin: 10px 100px;
  text-align: center;
}

#accordion {
  width: 60%;
  margin: 0 auto;
}

#accordion .card-header {
  background: orange;
}

#accordion .card-header a {
  color: rgb(70, 53, 42);
  font-weight: 600;
  font-size: 20px;
}

#accordion .card-body p {
  color: rgb(70, 53, 42);
  font-weight: 700;
  font-size: 20px;
  margin: 10px;
}

#accordion .card-body ul li {
  list-style: none;
  margin-top: 10px;
}

#accordion .card-body ul li a {
  text-decoration: none;
  color: rgb(70, 53, 42);
  padding: 5px 10px;
  border: 2px solid rgb(70, 53, 42);
  border-radius: 20px;
  margin-right: 10px;
}

#accordion .card-body ul li a:hover {
  box-shadow: 1px 5px 10px orange inset;
}

#accordion .card-body ul {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  width: 80%;
  flex-wrap: wrap;
}

#collapseTwo .card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#collapseTwo .card-body a:hover {
  box-shadow: 1px 5px 10px rebeccapurple;
}

#collapseTwo .card-body img {
  width: 150px;
}

#collapseThree a {
  text-decoration: none;
  color: rgb(70, 53, 42);
  border-style: solid;
  font-size: 20px;
  padding: 10px 20px;
}

#collapseThree a:hover {
  border-style: double;
}

.education-container .menu-items-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.education-container .menu-items-body a {
  text-decoration: none;
  padding: 20px 50px;
  background: linear-gradient(140deg, rgb(70, 53, 42), orange);
  margin: 10px 0;
  border-radius: 30px 0 30px 0;
  width: 50%;
  color: white;
  font-size: 18px;
}

.education-container .menu-items-body a:hover {
  background: linear-gradient(140deg, orange, rgb(70, 53, 42));
}

footer {
  height: 40px;
  background: rgb(70, 53, 42);
  bottom: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 978px) {
  .header-text {
    margin: 100px 20px;
  }

  .header-menu {
    position: unset;
  }
  .header-menu-ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header-menu-ul li {
    border-bottom: 2px solid white;
    width: 100%;
    text-align: center;
  }

  .html-container-cards {
    flex-direction: column;
    align-items: center;
  }

  .html-container-cards .card {
    width: 30rem;
    margin-bottom: 20px;
  }

  #accordion {
    width: 100%;
  }

  #accordion .card-body ul {
    width: 100%;
  }

  #accordion .card-body ul li {
    margin-top: 10px;
  }
  .education-container .menu-items-body {
    margin: 10px 20px;
  }
  .education-container .menu-items-body a {
    width: 100%;
  }
}

@media only screen and (max-width: 530px) {
  .header-text {
    margin: 50px 20px;
  }

  .html-container-cards .card {
    width: 20rem;
  }

  .main-container-text {
    margin: 10px 20px;
  }

  .education-container .menu-items-body a {
    padding: 5px 21px;
    font-size: 16px;
  }
}
