body,
div,
ul {
  margin: 0;
  padding: 0;
  background: rgb(231, 207, 191);
}

.header-img {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(136, 103, 80);
  /* width: 100%; */
}

.header-img img {
  /* width: 100%; */
  flex-basis: 60%;
}

.header-text {
  color: white;
  font-size: 22px;
  font-weight: 800;
  flex-basis: 40%;
  text-transform: uppercase;
  background: linear-gradient(
    130deg,
    rgb(70, 53, 42),
    rgb(136, 103, 80),
    rgb(70, 53, 42),
    rgb(136, 103, 80)
  );
  margin-left: 20px;
  border-radius: 10px 0 0 10px;
  border-top: 1px solid orange;
  border-left: 1px solid orange;
  border-bottom: 1px solid orange;
}

.header-menu {
  /* padding: 10px 0; */
}

.header-menu-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(70, 53, 42);
  height: 47px;
  flex-wrap: wrap;
}

.header-menu-ul li {
  list-style-type: none;
}

.header-menu-ul li a {
  background: linear-gradient(140deg, rgb(70, 53, 42), orange);
  padding: 15px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
}

.header-menu-ul li a:hover {
  background: orange;
  color: rgb(70, 53, 42);
}

.main-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* text-align: center; */
  /* width: 80%; */
  /* margin: 0 auto; */
  border-top: 2px solid rgb(231, 207, 191);
  /* box-shadow: 1px 1px 8px 10px orange; */
}

/* main div {
  background: rgb(70, 53, 42);
} */

.main-container-title {
  color: rgb(70, 53, 42);
}

.html-container-cards {
  display: flex;
  justify-content: space-around;
}
